<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="UXer Toolbox">
    <meta property="og:image" content="https://i.ibb.co/Kz8szvg/UXer-Toolbox.png">
    <title>Test Ground</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.0.2/dist/bulma-tooltip.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145887669-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-145887669-2');
    </script>

    <style>
        #backToTopBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
        }
    </style>
</head>

<body>

    <section>
        <div class="hero is-fullheight" id="loremIpsumGenerator">
            <div class="hero-body">
                <div class="container">
                    <h2 class="title has-text-centered">Lorem Ipsum Generator</h2>
                    <div class="columns">
                        <div class="column is-one-third"></div>
                        <div class="column is-one-third">
                            <b-field label="Generator">
                                <b-select placeholder="Select a generator" expanded v-model="generatorName">
                                    <option value="loremIpsum">Lorem Ipsum Generator</option>
                                    <option value="litIpsum">Literature Ipsum Generator</option>
                                    <option value="baconIpsum">Bacon Ipsum Generator</option>
                                    <option value="ramenIpsum">Ramen Ipsum Generator</option>
                                </b-select>
                            </b-field>
                            <b-field label="Number of Paragraphs">
                                <b-slider :min="1" :max="10" ticks v-model="paragraphNumber"></b-slider>
                            </b-field>
                            <b-field label="Paragraph Length">
                                <div class="block">
                                    <b-radio v-model="paragraphLength" name="pLength" native-value="short">
                                        short
                                    </b-radio>
                                    <b-radio v-model="paragraphLength" name="pLength" native-value="medium">
                                        medium
                                    </b-radio>
                                    <b-radio v-model="paragraphLength" name="pLength" native-value="long">
                                        long
                                    </b-radio>
                                </div>
                            </b-field>
                            <b-button v-on:click="generateIpsum()">Generate Text!</b-button>
                            <p></br></p>
                            <textarea class="textarea has-fixed-size" placeholder="Your text will appear here" rows="10" readonly
                                v-model="generatedText"></textarea>
                        </div>
                        <div class="column is-one-third"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Lorem Ipsum Generator Vue-->
    <script>
        var liGenerate = new Vue({
            el: "#loremIpsumGenerator",
            data: {
                generatorName: "loremIpsum",
                paragraphNumber: 5,
                paragraphLength: "medium",
                generatedText: "Your text will appear here"
            },
            watch: {
                generatorName(newValue) {
                    console.log(newValue);
                }
            },
            methods: {
                generateIpsum: function () {
                    if (this.generatorName == "loremIpsum") {
                        var apiURL = "http://loripsum.net/api/plaintext/" + this.paragraphNumber.toString() + "/" + this.paragraphLength;
                    } else if (this.generatorName == "litIpsum") {
                        var apiURL = "https://litipsum.com/api/" + this.paragraphNumber.toString();
                    } else if (this.generatorName == "baconIpsum") {
                        var apiURL = "https://baconipsum.com/api/?type=meat-and-filler&paras=" + this.paragraphNumber.toString() + "&start-with-lorem=1&format=text";
                    }
                    const _this = this;
                    let xhr = new XMLHttpRequest();
                    xhr.open("GET", apiURL);
                    xhr.onload = () => {
                        _this.generatedText = xhr.response;
                    };
                    xhr.send();
                }
            }
        })
    </script>

</body>


</html>